@charset "utf-8";

/* 1280px */
@media screen and (max-width: 1280px) {
    .gnb {
        display: none;
    }

    .slide_title {
        font-size: 36px;
    }

    .mySwiper .swiper-button-next {
        right: 5%;
    }

    .mySwiper .swiper-button-prev {
        left: 5%;
    }

    .item_box {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .item_box .item_title {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .favorites_box {
        flex-direction: column;
    }

    .favorites_box .main_title {
        margin-bottom: 20px;
    }

    .favorites li {
        flex: 1 1 100%;
    }

    .self_flex {
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    .self_list {
        margin: 20px 0;
    }

    .footer_list {
        width: 100%;
        height: auto;
    }
    .footer_link {
        display: none;
    }

    .footer_flex {
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    .footer_sns {
        text-align: center;
        margin-top: 20px;
    }
    .skbroadband {
        padding-top: 20px;
    }

    .footer_copyright {
        text-align: center;
    }

    .footer_address_list {
        margin-top: 20px;
        line-height: 1;
    }
    
    #footer {
        padding-bottom: 50px;
    }
    .search_box {
        height: 100vh;
    }
    .keyword_flex {
        flex-direction: column;
    }
    .keyword {
        width: 100%;
    }
    .best_keyword li {
        display: block;
    }
    .best_keyword:hover {
        border:1px solid white;
    }
    .keyword li a {
        font-size: 14px;
    }
    .search_closebtn {
        top: 20px;
    }

}

/* 1024px */
@media screen and (max-width: 1024px) {
    .item a img {
        width: 100px;
    }

    .favorites .main_text {
        font-size: 16px;
    }

    .suggest_title {
        font-size: 22px;
    }

    .item_intro {
        font-size: 16px
    }

    .calc {
        line-height: 80px;
    }

    .calc span {
        font-size: 20px;
    }

    .calc_btn {
        font-size: 16px;
    }
}

/* 900px */
@media screen and (max-width: 900px) {
    
    .slide_box {
        padding: 50px 65px;
    }

    .slide_title {
        font-size: 34px;
    }

    .slide_btn {
        left: 65px;
        padding: 10px 30px;
        font-size: 14px;
        font-weight: 500;
    }

    .item a img {
        width: 80px;
    }

    .favorites {
        flex-wrap: wrap;
    }

    .calc {
        line-height: 70px;
    }

    .calc span {
        font-size: 16px;
    }

    .calc_btn {
        width: 200px;
        margin: 0 0 10px 20px;
        font-size: 14px;
    }

    .item_flex {
        flex-wrap: wrap;
    }

    .item_flex li {
        flex: 0 0 calc(50% - 15px);
    }

    .self_list li {
        flex: 1 1 100%;
    }
    .menu_form {
        flex-direction: column;
    }
    .title {
        padding: 0;
    }
    .menu_title a {
        margin: 25px 0;
    }
    .lang {
        right: 0;
    }
}

/* 768px */
@media screen and (max-width:768px) {
    .inner {
        padding: 0 25px;
    }
    .company {
        display: none;
    }

    .login {
        display: none;
    }

    .slide_title {
        font-size: 26px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 30px !important;
        height: 30px !important;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 15px !important;
        font-weight: 100 !important;
        line-height: 1 !important;
    }

    .item a img {
        width: 60px;
    }

    .item_box .item_title {
        font-size: 26px;
    }

    .main_title {
        font-size: 26px;
    }
    .main_text {
        font-size: 14px;
    }

    .suggest_title {
        font-size: 18px;
        line-height: 30px;
        height: 50px;
    }
    .suggest_view a {
        height: 40px;
        line-height: 40px;
    }
    .suggest img {
        margin-top: 30px;
    }

    .price span {
        font-size: 16px;
    }

    .price strong {
        font-size: 18px;
    }
    .suggest_btn a {
        height:40px;
        line-height: 40px;
        font-size: 14px;
    }
    .suggest_view a {
        font-size: 14px;
    }
    .calc {
        line-height: 65px;
    }
    .menu_searchform {
        width: 80%;
        margin: 0 auto;
    }
    .site {
        width: 200px;
    }
    
    .footer_list li a {
        font-size: 14px;
    }
    .footer_logo {
        padding: 0;
        margin: 00;
        display: none;
    }
    .skbroadband {display: block;}
}

/* 600px */
@media screen and (max-width:600px) {
    .main_bg .mySwiper {
        height: 220px;
    }
    .slide_title {
        padding: 10px 0;
        font-size: 20px;
        line-height: 25px;
    }
    .slide_box {
        padding: 25px 30px;
    }
    .slide_btn {
        display: none;
    }
    .item_box {
        padding: 25px 30px;
        gap: 0;
    }
    .item_box_right {
        justify-content: center;
    }
    .item_box .item_title {
        font-size: 18px;
        line-height: 20px;
    }
    .item_title {
        margin-top: 0;
        font-size: 14px;
        line-height: 20px;
    }
    .item_intro {
        font-size: 12px;
    }
    .main_title {
        font-size: 18px;
    }
    .favorites .main_text {
        font-size: 14px;
    }
    .advantage li a img {
        width: 60px;
        height: auto;
    }
    .item_flex {
        gap: 15px;
    }
    
    .item_flex li {
        padding: 20px;
        flex: 0 0 calc(50% - 10px);
    }
    .item_flex li a {
        padding: 0;
    }
    .title {
        font-size:18px;
    }
    .self_video a img {
        width: 300px;
    }
    .self_list li {
        padding: 5px;
    }
    .self_list li a {
        padding:10px;
    }
    .self_text .item_intro {
        font-size: 14px;
    }
    .calc {
        line-height: 40px;
    }
    .calc_btn {
        margin: 0 0 10px 20px;
        font-size: 14px;
        padding: 5px 10px;
        
    }
    .calc span {
        font-size: 14px;
    }
    .keyword_flex h2 {
        font-size: 20px;
    }
    .keyword {
        gap: 5px;
    }
    .keyword_form input[type="search"] {
        height: 50px;
        font-size: 24px;
        font-weight: 600;
    }
    .search_btn {
        width: 35px;
        height: 50px;
    }
    .best_keyword {
        width: 100%;
    }
    .menu_content>.dep1_list>a {
        font-size: 16px;
        padding: 0;
    }
    
    .menu_content .dep1_list{
        width: 160px;
    }
    .dep2_list {
        width: 160px;
        margin: 10px 0;
    }
    .notice h4 {
        width: 100px;
        font-size: 16px;
    }
    .notice_list {
        font-size: 14px;
    }   
    .notice_view {
        font-size: 14px;
        line-height: 23px;
        float: none;
        display: block;
        text-align: right;
    }
    .notice_view::after {
        top: 2px;
    }
}


/* 430px */
@media screen and (max-width:430px) {
    .header_flex {
        min-height: 50px;
    }
    .advantage li a img {
        width: 40px;
        height: auto;
    }
    .item_flex {
        gap: 10px;
    }
    .item_flex li {
        padding: 10px 5px;
        flex: 0 0 calc(50% - 8px);
    }
    .item_flex li a{
       line-height: 1;
       padding:10px 5px;
    }
    .self_text .item_intro {
        line-height: 20px;
    }
    .self_list li a img {
        width: 70px;
        height: 70px;
    }
    .keyword_form input[type="search"] {
        height: 30px;
        font-size: 16px;
        font-weight: 600;
    }
    .search_btn {
        width: 35px;
        height: 30px;
    }
    .menu_content .dep1_list {
        width: 130px;
    }
    .dep2_list {
        width: 130px;
        margin: 10px 0;
    }
}